---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Para mí, ser programador es crear "
	pubDate={new Date('July 27 2024')}
>
	<p>
		Savaldev para mí es una parte de mi vida súper importante. Soy desarrollador, o bueno, al menos eso he intentado ser desde los 15 años. Y para ser honesto lo descubrí por accidente, un día random navegando por YouTube me pregunté: ¿Cómo está hecho YouTube?. Creo que es una de las preguntas más importantes que he hecho en mi vida. 
	</p>

	<p>
		A partir de ahí descubrí uno de los amores más grandes de mi vida: tener el poder de crear, resolver problemas, ayudar a las personas a hacer sus ideas realidad. Y cómo todo amor, no es perfecto, tengo mis días malos, buenos... pero todo es un proceso y estoy orgulloso de no haberme rendido. 
	</p>

	<p>
		Recuerdo mi primer Hola mundo en HTML, mi primer margin en CSS y luego...Javascript. A veces la gente no entiende lo que hacemos como programadores y es normal, ni nosotros sabemos lo que hacemos a veces, sólo me levanto todos los días, agradezco a Dios y digo <b>"no me arrepiento ni del día que un bug me enseñó a hablar en chino"</b>
	</p>

	
</Layout>
